.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    border-bottom: 3px solid black;
}
.avatar {
    height: 20%;
    width: 20%;
    padding: 5px;
}
/* article {
    border-bottom: 3px solid black;
}
.rslogo {
    height: 15%;
    width: 15%;
} */